body{
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
/* font-family: 'Open Sans', sans-serif; */
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
.ba-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 40px;
}

.ba-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ba-section{
    padding-top: 120px;
    padding-bottom: 100px;
}

.ba-hero{
    padding-top: 70px;
    padding-left: 20px;
    background-color: #c1c1c1;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}


.ba-hero-wrapper{
    text-align: center;
}

.ba-menu-btn{
    height: 15px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;

    -webkit-appearance: none;
}

.ba-menu-btn_line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #60606e;

}

.ba-menu-btn_line:nth-child(2){
    width: 50%;
}

.ba-menu-btn_line:nth-child(3){
    width: 23px;
}

.ba-menu-block{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: #7beec7;
    transform: translateY(0%);

    transition: transform .4s;
    z-index: 5;
}

.ba-menu{
    display: flex;
    /* position: absolute;
    top: 50%;
    left: 50%; */
   
    /* transition: transparent(left -50%, right -50%); */
}

.ba-menu__link{
    font-size: 1.5em;
    color: #fff;
    padding: 0 1em;
}

.ba-menu__item{
    opacity: 0;
    transform: translateY(-1.25em) scale(1.25);
    transition: all .5s ease, opacity .2s;
}

#menuOpen:checked ~ .ba-menu-block .ba-menu__item{
    transform: none;
    opacity: 1;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:first-child{
    transition-delay: .75s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(2){
    transition-delay: .85s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(3){
    transition-delay: .95s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(4){
    transition-delay: 1.05s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(5){
    transition-delay: 1.15s;
}

#menuOpen:checked ~ .ba-menu-block{
    transform: translateY(100%);
}



.ba-logo{
    font-size: 1.125rem;
    margin: 0;
    text-transform: uppercase;
    
}

.ba-logo_link{
    color: inherit;
    text-decoration: none;
}

.ba-hero_title{
    font-size: 2.25rem;
    margin-bottom: .555em;
    line-height: 1;
    text-transform: uppercase;
}

.ba-breadcrumbs{
    display: flex;
    justify-content: center;
}

.ba-breadcrumbs_item{
    position: relative;
    font-size: .875rem;
    text-transform: uppercase;
}

.ba-breadcrumbs_item + .ba-breadcrumbs_item:before{
    content: '/';
    display: inline-block;
    margin: 0 5px;
    
}

.ba-info_title{
    display: inline-block;
    font-size: 1.875rem;
    position: relative;
    text-transform: uppercase;

}

.ba-info_title:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -1px;
    top: 10px;
    height: .7em;
    width: 2.26em;
    background-color: #7beec7;

}

.ba-info_title span{
    position: relative;
}

.ba-info-block_fact{
    display: block;
    text-transform: uppercase;
    font-size: 0.875rem;

}

.ba-info_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 2.14285;
    letter-spacing: 0;
}

.ba-info_text p,
.ba-info_text ul,
.ba-info_text ol{
    margin-top: 0;
}



.ba-section_header{
    text-align: center;
    margin-bottom: 5.25rem;
}

/* ba-benefit_section */

.ba-benefit_title{
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.ba-benefit__icon{
    width: 40px;
    height: 40px;
    background-color: #7beec7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.05em;
    color: #fff;
    font-size: 30px;


    
}


/* ba-team-member */

.ba-team-member{
    width: 100%;
    height: 333px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: #000 2px 1px 12px;
}

.ba-team-member_img{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.ba-team-member_info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: #7beec85c;
    transform: translateY(-100%);
    transition: transform .4s;

}


.ba-team-member:hover .ba-team-member_info{
    transform: translateY(0);
}

.ba-team-member_name{
    margin: 0;
    font-size: 2em;
}

.ba-team-member .icon{
    font-size: 4em;
}

.ba-footer{
    background-color: #7beec7;
    padding: 50px 0;
}

.ba-subscribe{
    background-color: #fff;
    padding: 18px 21px;
    color: #000;
}

.ba-subscribe__title{
    font-size: 1.5em;
    color: #000;
}

.ba-button{
    height: 50px;
    line-height: 50px;
    border: 2px solid transparent;
    background-color: #fff;
    color: #7beec7;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    /* padding: 0.2em; */
    transition: .4s;
    
}

.ba-button:hover{
    opacity: 0.8;
}

.ba-button:focus{
    border-color: #18c0e6;
}

.ba-button:active{
    border-color: #18c0e3;
}

.ba-button_green{
    background-color: #7beec7;
    color: #fff;
}

/* .ba-subscribe__desc{
    font-size: 0.875rem;
} */

.ba-subscribe-form{
    display: flex;
}


.ba-input{
    height: 50px;
    padding: 1em;
    border: 1px solid #c1c1c1;
    border-right: none;
    flex-grow: 1;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.ba-input{
    outline: none;
    box-shadow: inset 6px 0px 0px 0px #7beec7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cdcdcd;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cdcdcd;
    text-transform: uppercase;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cdcdcd;
    text-transform: uppercase;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cdcdcd;
    text-transform: uppercase;
  }

  /*media queries*/     

  @media (max-width: 600px){
      .ba-about .ba-col-6{
          width: 100%;
      }
  }




